/**
 * Animations
 */

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.v-fade-bottom-enter-active,
.v-fade-bottom-leave-active,
.v-fade-bottom-move {
	transition: all 1s;
}
.v-fade-bottom-enter,
.v-fade-bottom-leave-to {
	opacity: 0;
	transform: translateY( 200px );
}

.zoom-leave-active {
	opacity: 0;
}

.zoom-enter {
	animation-delay: 0.3s;
	opacity: 1;
	transition: all 0.4s;
}

.zoom-enter-active,
.zoom-leave-active {
	transition: all 0.4s;
}

.zoom-enter {
	opacity: 0;
	transform: scale( 0 );
}
