/**
 * Animations
 */

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.pulse-leave-active {
	opacity: 0;

}
.pulse-enter {
	animation-delay: 0.3s;
	opacity: 1;
	transition: all 0.4s;
}

.pulse-enter-active,
.pulse-leave-active {
	transition: all 0.4s;
}

.pulse-enter {
	opacity: 0;
	transform: scale( 0 );
}
